<!--메인 페이지 상단-->
<div style="background-color: #F5F5F5; width: 100%;min-width: 500px; height: auto; overflow: hidden">
    <!--타이틀-->
    <div style="margin-left: 40px; margin-bottom: 16px; float: left">
        <% include Title %>
    </div>

    <div style="float: right; margin-top: 10px">
    <div style="display: inline-block; margin-right:20px">
        <a href="/Members" style="color: <%= ColorMembers %>"><h5>회원조회</h5></a>
    </div>
    <div style="display: inline-block; margin: 20px">
        <a href="/RunInfo" style="color: <%= ColorInfo %>"><h5>운행정보 등록</h5></a>
    </div>
    <div style="display: inline-block; margin: 20px">
        <a href="/Logout" style="color: black"><h5>Logout</h5></a>
    </div>
    </div>
</div>